.simulatie-dashboard {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  margin: 0 10px;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.performance-monitoring {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}
