.faq-page {
    max-width: 75%;
    margin: 20px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.faq-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input,
.search-bar select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.search-bar select {
    height: 43px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-question {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-answer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: left;
}
button {
    width: fit-content;
}
.general-comments-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.general-comments-section textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.general-comments-list li {
    margin-top: 5px;
    padding: 8px;
    background-color: #e9ecef;
    border-radius: 5px;
}

/* Contact Us Section */
.contact-us-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-us-section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.contact-us-section p {
    margin-bottom: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-input,
.contact-textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.contact-textarea {
    height: 150px;
    resize: none;
}
